<% provide(:title, "Über uns") %>

<div class="static-box">

	<h2>Das ist Heroku</h2>
	<div class="info-box">

		<p>Heroku bringt hunderte Nachrichtenmedien, Onlinemagazine und Blogs zu Usern aus dem deutschsprachigen Raum, die sich täglich auf einfache Art einen Überblick über wichtige Themen und Trends verschaffen wollen.</p>

		<p>Die Inhalte werden dabei von ausgewählten Kuratoren zusammengestellt, sodass die User immer hochinteressante Beiträge erhalten. Nicht jeder kann Kurator sein, wir laden die Kuratoren gezielt nach ihrer Expertise ein.</p>

		<p>Das Ziel von Heroku ist es, über den Tellerrand zu schauen und auch Artikel zu sehen, die man ansonsten nicht gelesen hätte.</p>

		<p>Heroku - Für ein besseres Internet</p>
	</div>

	<br>
	<h2>Das Team</h2>

	<div class="row">
		<div class="col-md-4">
			<div class="profile">
				<%= image_tag "team1-medium.jpg", class: "profile-photo" %>

				<h4>Dr. Lucas Keller</h4>
				<h5>CEO / President</h5>
				<p class="profile-info">
					Lucas kam 2014 als Investor und Verwaltungsrat zu Heroku, übernahm 2015 die Rolle des CEO und 2016 die Mehrheit der Firma. Er ist seit über 20 Jahren in der Internet-Szene unterwegs und hat mehrere erfolgreiche Firmen gegründet.
				</p>
			</div>
		</div>

		<div class="col-md-4">
			<div class="profile">

				<%= image_tag "team2-medium.jpg", class: "profile-photo" %>

				<h4>Tim Vogt</h4>
				<h5>CTO</h5>
				<p class="profile-info">
					Tim beschäftigt sich mit den zahlreichen technischen Herausforderungen von Heroku. Er hat ein Master of Science der Northeastern University of Boston.
				</p>
			</div>
		</div>

		<div class="col-md-4">
			<div class="profile">
				<%= image_tag "team3-medium.jpg", class: "profile-photo" %>

				<h4>Doreen Pfeifer</h4>
				<h5>Administration und Office Management</h5>
				<p class="profile-info">
					Dank Doreen ist die Administration in Ordnung. Sie hat einen Master der Universität St. Gallen und langjährige Erfahrung als Unternehmensberaterin.
				</p>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-4">
			<div class="profile">

				<%= image_tag "team4-medium.jpg", class: "profile-photo" %>

				<h4>Philipp Pfeffer</h4>
				<h5>Head of Curation</h5>
				<p class="profile-info">
					Philipp kümmert sich um unsere Kuratoren. Er hat langjährige Erfahrung als Editor. Er ist fest davon überzeugt, dass manche Menschen dazu geboren sind, Ihr Fachwissen und Interessen mit anderen zu teilen.
				</p>
			</div>
		</div>

		<div class="col-md-4">
			<div class="profile">

				<%= image_tag "team5-medium.jpg", class: "profile-photo" %>

				<h4>Petra Jaeger</h4>
				<h5>Head of Product</h5>
				<p class="profile-info">
					Petra arbeitet am unseren Web- und Mobile Applikationen, sowie der Kuratorenkonsole. Vor Heroku war sie 7 Jahre bei Zeix und dann 7 Jahre in Australien als UX Designerin tätig und absolvierte dort ihr MBA. Sie liest am liebsten komplizierte Artikel über die menschliche Entscheidungsfindung.
				</p>
			</div>
		</div>

		<div class="col-md-4">
			<div class="profile">

				<%= image_tag "team10-medium.jpg", class: "profile-photo" %>

				<h4>Ngoc-Huy Truong</h4>
				<h5>Usability- und HCI-Engineer</h5>
				<p class="profile-info">
					Ngoc-Huy ist unser Spezialist, wenn es um die Bedienbarkeit und das Nutzerverhalten/ -erleben geht. Er ist an der Universität Freiburg als Doktorand tätig und erforscht die Wechselwirkung zwischen unserer Internetseite und dem Menschen.
				</p>
			</div>
		</div>


	</div>


	<div class="row">

		<div class="col-md-4">

			<div class="profile">

				<%= image_tag "team6-medium.jpg", class: "profile-photo" %>

				<h4>René Reiniger</h4>
				<h5>Chief Marketing Officer</h5>
				<p class="profile-info">
					René unterstützt uns dabei, mehr Leute auf Heroku aufmerksam zu machen und unsere Firmenkunden zu begeistern. Er war viele Jahre im Topmanagement bei deutschen Medienunternehmen tätig und hat grosse Erfahrung in der Weiterentwicklung von Geschäftsfeldern und der digitalen Transformation bestehender Geschäftsmodelle.
				</p>
			</div>
		</div>

		<div class="col-md-4">
			<div class="profile">

				<%= image_tag "team7-medium.jpg", class: "profile-photo" %>

				<h4>Monika Biermann</h4>
				<h5>Designer</h5>
				<p class="profile-info">
					Monika kümmert sich um die Gestaltung der Website und Mobile Apps. Sie hat Produkt Design an der Architektur Universität Bukarest und Visuelle Kommunikation an der Basel School of Design studiert und besitzt eine Faszination für Metaphern.
				</p>
			</div>
		</div>


		<div class="col-md-4">

			<div class="profile">

				<%= image_tag "team8-medium.jpg", class: "profile-photo" %>

				<h4>Jiří Ryba</h4>
				<h5>Front-End Engineer</h5>
				<p class="profile-info">
					Jiří ist unser Front-end Engineer aus Belgrad, Serbien. Er arbeitet an unserer Responsive Web App.
				</p>
			</div>

		</div>

	</div>


	<div class="row">
		<div class="col-md-4">
			<div class="profile">

				<%= image_tag "team9-medium.jpg", class: "profile-photo" %>

				<h4>Jaroslav Pipek</h4>
				<h5>Back-End Engineer</h5>
				<p class="profile-info">
					Jaroslav ist unser Backend Engineer aus Belgrad, Serbien. Er hat einen Master in Informatik der Universität Belgrad und konnte seitdem Erfahrung in diversen Branchen sammeln. Zusammen mit Jiří arbeitet er an unseren Servern, Datenbanken und an den vielen Endes des Codes.
				</p>
			</div>
		</div>

	</div>
</div>
