
<div class="col-md-3">
  <%= render 'layouts/user-sidebar' %>
</div>

<div class="col-md-9">
  <div class="posts">
    <% if @user.posts.any? %>
	    <% @user.posts.each do |post| %>
	      <% preview = LinkThumbnailer.generate(post.link) %>
	      <div class="bubble linkpreview">
	        <%= image_tag "image_icon.svg", class: "icon" %>  
	        <div class="preview">
	          <%= image_tag preview.images.first.src.to_s %> 
	        </div>   
	        <div class="content">
	          <h2 class="title"><%= preview.title %></h2>
	          <p class="description"><%= preview.description %></p>
	          <div class="buttons_wrapper">
	            <%= link_to "Zum Artikel", post.link, target: "_blank", class: "btn btn-primary" %>
	          </div>
	        </div>       
	      </div>

	      <div class="bubble">
	        <div class="content">
	          <div class="avatar">
	            <%= image_tag "avatar.png" %>
	          </div>
	          <p class="copy"><span class="kurator">Kurator <%= post.user.email %> sagt:</span> <%= post.description %></p>
	        </div>
	        <p class="time"><%= post.created_at.strftime("%d %b. %Y")%> - <%= post.created_at.strftime("%H:%M Uhr") %></p>
	      </div>
	    <% end %>
    <% else %>
    	<h3><%= @user.email %> hat leider noch keine Beiträge geteilt.</h3>
    <% end %>
  </div>
</div>
