<div class="wrapper">
	<div class="col-md-4">
	  <%= render 'layouts/user-sidebar' %>
	</div>

	<div class="col-md-8">

	    <% if @user.posts.any? || @user.flikes.any? || @user.likes.any? %>
	    	<% if !@pinned_posts.any? %>
	    		<h3 class="show-page-heading">Du hast leider noch keine eigenen angepinnten Beitr채ge erstellt.</h3>
	    	<% else %>
	    		<h3 class="show-page-heading">Angepinnter Beitrag</h3>
	    			<div class="show-wrapper">

				    	<% @pinned_posts.each do |post| %>
					    	<div class="col-md-6">
				      			<%= render :partial => "layouts/index-preview-bubble", :locals => {:post => post} %>
					    	</div>
					    <% end %>

			    	</div>
	    	<% end %>



	    	<% if !@user.posts.any? %>
	    		<h3 class="show-page-heading">Du hast leider noch keine eigenen Beitr채ge erstellt.</h3>
	    	<% else %>
	    		<h3 class="show-page-heading">Eigene Beitr채ge</h3>
	    	<% end %>

	    	<div class="show-wrapper">
		    	<% @user.posts.reverse.each do |post| %>
			    	<div class="col-md-6">
		      			<%= render :partial => "layouts/index-preview-bubble", :locals => {:post => post} %>
			    	</div>
			    <% end %>
	    	</div>

		    <h3 class="show-page-heading">Deine Favoriten</h3>

		    <div class="show-wrapper">
			    <% @liked_allposts.reverse.each do |post| %>
			    	<div class="col-md-6">
				        <% if post.is_a?(Post) %>
				          <%= render :partial => "layouts/index-preview-bubble", :locals => {:post => post} %> 
				        <% else %>
				          <%= render :partial => "layouts/index_preview_fposts", :locals => {:post => post} %>  
				        <% end %>
			    	</div>
			    <% end %>
		    </div>

	    <% else %>
	    	<h3 class="show-page-heading">Du hast leider noch keine eigenen Beitr채ge oder Favoriten.</h3>
	    <% end %>

	</div>

</div>
