
    <div class="forms new-post">
    <h2>Neuen Beitrag erstellen</h2>
    <%= form_for @post do |f| %>

      <%= f.label :link, "Link" %><br>
      <% if @post.errors[:link] %>
          <% @post.errors[:link].each do |msg| %>
            <p class="error">*<%= msg %></p>
         <% end %>
      <% end %>
      <%= f.text_field :link, class: "form-control"%>


      <%= f.label :description, "Kommentiere deinen Link" %><br>
      <% if @post.errors[:description] %>
          <% @post.errors[:description].each do |msg| %>
            <p class="error">*<%= msg %></p>
          <% end %>
      <% end %>
      <%= f.text_area :description, class: "form-control" %>

    <% if current_user.group == 0 || current_user.group == 1 %>
      <%= f.check_box :pinned, class: "left" %>
      <%= f.label "Beitrag oben anpinnen?" %>
      <p class="info-text">Wenn du einen Beitrag anpinnst, bleibt er länger für andere sichtbar. Du kannst nur einen Beitrag anpinnen. Falls du schon einen angepinnten Beitrag hast, wird dieser automatisch "ent-"pinnt. </p>
      <% if @post.errors[:pinned] %>
          <% @post.errors[:pinned].each do |msg| %>
            <p class="error">*<%= msg %></p>
          <% end %>
          <br>
      <% end %>
    <% end %>
    
      <%= f.hidden_field :first_time_visited_at, value: Time.now %>

      <%= f.submit class: "btn btn-primary" %>

    <% end %>
    </div>  





