<div class="forms new-post">
<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <h2><%= pluralize(@post.errors.count, "Fehler") %></h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :link, "Link" %><br>
  <%= f.text_field :link %>

  <%= f.label :description, "Kommentiere deinen Link" %><br>
  <%= f.text_area :description %>

  <br>




  <%= f.submit class: "btn btn-primary" %>

<% end %>
</div>
