    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Sharit", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li>Hallo <%= current_user.email %></li>
              <li><%= link_to "Neuer Beitrag", new_post_path %></li>
              <li><%= link_to 'Profil', edit_user_registration_path %></li>
              <li><%= link_to 'Ausloggen', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Einloggen', new_user_session_path %></li>
              <li><%= link_to 'Registrieren', new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>