    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to root_path, class: "logo" do %>
          <span class="fa fa-paper-plane header-logo" aria-hidden="true"></span> Sharit
        <% end %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Menü <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to new_post_path do %>
                      <span class="fa fa-paper-plane" area-hidden="true"></span> Neuer Beitrag
                    <% end %>
                  </li>

                  <li class="divider"></li>

                  <li><%= link_to "Alle Beiträge", posts_path %></li>
                  <li><%= link_to "Meine Beiträge", current_user %></li>

                  <li class="divider"></li>
                  
                  <li>
                    <%= link_to edit_user_registration_path do %>
                      <span class="fa fa-cog" aria-hidden="true"></span>  Einstellungen
                    <% end %>
                  </li>


                  <li class="divider"></li>

                  <li>
                    <%= link_to destroy_user_session_path, class: "logout", method: :delete do %>
                      <span class="fa fa-sign-out" aria-hidden="true"></span>  Ausloggen
                    <% end %>
                  </li>
                </ul>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <span class="fa fa-sign-out" aria-hidden="true"></span>  Ausloggen
                <% end %>
              </li>

            <% else %>
              <li><%= link_to 'Einloggen', new_user_session_path %></li>
              <li><%= link_to 'Registrieren', new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>