<% if post %>
	<% preview = LinkThumbnailer.generate(post.link) %>

	  <div class="index-preview">
	    <!--<%= link_to content_tag(:span), post.link, target: "_blank" %>-->
		<div class="image-text">
		  <%= link_to(image_tag(preview.images.first.src.to_s), post.link, target: "_blank") %> 
		  <h4 class="text"><%= link_to preview.title, post.link, target: "_blank" %></h4>
		</div>

	    <div class="comment">
    	  <div class="avatar">
		    <%= image_tag "avatar.png" %>
		  </div>
		  <p class="curator-comment">
		    Kurator <%= post.user.username %> sagt: <%= post.description %>
		  </p>
		</div>
	  </div> 
	  
	  <div class="time-and-likes">
	  	<div class="time"><%= post.created_at.strftime("%d %b. %Y")%> - <%= post.created_at.strftime("%H:%M Uhr") %></div>
	  	<div class="likes">
	  		3
	  		<i class="fa fa-heart" aria-hidden="true"></i>	
	  	</div>
	  </div>

<% end %>