
<% if post %>
	  <div class="index-preview">
	    <!--<%= link_to content_tag(:span), post.link, target: "_blank" %>-->
		<div class="image-text">
		  <%= link_to(image_tag(post.image_url, class: "cover"), post.link, class: "flink", id: post.id, target: "_blank") %> 
		  <h4 class="text" id="view-<%= post.id%>">
		  	<%= link_to post.title, post.link, class: "flink", id: post.id, target: "_blank" %>
		  </h4>
		</div>

	    <div class="comment">
    	  <div class="avatar">
		    <%= image_tag (post.picture) %>
		  </div>
		  <p class="curator-comment">
		    Kurator/in <%= post.first_name %> <%= post.last_name %>: <%= post.description %>
		  </p>
		</div>
	  </div> 
	  
	  <div class="time-and-likes">


	  	<div class="time"><%= DateTime.parse(post.fake_time.to_s).localtime.strftime("%d.%m.%Y")%> - <%= DateTime.parse(post.fake_time.to_s).localtime.strftime("%H:%M Uhr") %></div>

	  	<div class="views icons">
	  		<span class="counter view-<%=post.id%>"> 
	  		  <% num_of_user_views = post.fviews.where(user_id: current_user).size %>

		  	  <% if current_user.group == 0 || current_user.group == 2 %>
		  	    <%= num_of_user_views ? post.highviews + num_of_user_views : post.highviews %>
		  	  <% else %>
		  	    <%= num_of_user_views ? post.lowviews + num_of_user_views : post.lowviews %>
		  	  <% end %>
	  		</span>

	  		<i class="fa fa-eye eye-<%=post.id%>" aria-hidden="true"></i>	

	  	</div>

		<div class="likes icons">
	  		<span class="counter like-<%=post.id%>"> 
	  		  <% num_of_user_likes = post.flikes.where(user_id: current_user).size %>

		  	  <% if current_user.group == 0 || current_user.group == 2 %>
		  	    <%= num_of_user_likes ? post.highlikes + num_of_user_likes : post.highlikes %>
		  	  <% else %>
		  	    <%= num_of_user_likes ? post.lowlikes + num_of_user_likes : post.lowlikes %>
		  	  <% end %>
	  		</span>
	  		
	  		<%= link_to fupvote_post_path(post), method: :post, class: "heart", remote: true do %>
	  		  <% if post.flikes.where(user_id: current_user).empty? %>
	  		  	<i class="fa fa-heart-o heart-<%=post.id%>" aria-hidden="true"></i>	
	  		  <% else %>
	  		  	<i class="fa fa-heart heart-<%=post.id%>" aria-hidden="true"></i>	
	  		  <% end %>
	  		<% end %>
	  	</div>
	  </div>
<% end %>