    <div id="sidebar-wrapper">
    	<div class="avatar_info">
    	  <%= link_to(image_tag("ngoc_avatar.jpg"), "#") %>
    	  Hallo XY!
    	</div>

    	<hr>

    	<div class="readers">
    	  <h4>Anzahl Leser auf Sharit:</h4>
    	  <p>134</p>
    	</div>

    	<hr>
    	<div class="others">
    	  <h4>Andere Kuratoren:</h4>
    	  <div class="other_avatars">

      	  	<%= link_to(image_tag("user_generic.png"), "#") %>
      	  	<%= link_to(image_tag("user_generic.png"), "#") %>
    	  	  <%= link_to(image_tag("ngoc_avatar.jpg"), "#") %>
       	  	<%= link_to(image_tag("user_generic.png"), "#") %>
       	  	<%= link_to(image_tag("user_generic.png"), "#") %>
       	  	<%= link_to(image_tag("avatar_client.png"), "#") %>
       	  	<%= link_to(image_tag("user_generic.png"), "#") %>
       	  	<%= link_to(image_tag("avatar.png"), "#") %>      	  	
    	  </div>
    	</div>
    </div>