    <div id="sidebar-wrapper">
    	<div class="avatar_info">
        <%= image_tag current_user.avatar.url %>
    	</div>

    	<hr>

    	<div class="readers">
    	  <h4>Dein Profil, <%= @user.first_name %> <%= @user.last_name %>!</h4>
    	  <p>Hier findest du alle deine Beitr채ge</p>
          <p> Beitr채ge: <%= @user.posts.size %> </p>
          <p> Angepinnte Beitr채ge: <%= @user.posts.where(pinned: true).size %></p>

          <hr>

          <h4>Statistiken 체ber Sharit</h4>
      <% if current_user.group == 0 || current_user.group == 1 %>
        <p>Kuratoren: 21</p>
      <% else %>
        <p>Kuratoren: 126</p>
      <% end %>
    	</div>
    </div>

