    <div id="sidebar-wrapper">
    	<div class="avatar_info">
        <%= image_tag current_user.avatar.url %>
    	</div>

    	<hr>

    	<div class="readers">
    	  <h4>Profil von <%= @user.first_name %> <%= @user.last_name %></h4>
    	  <p>Hier findest du alle Beitr채ge von <%= @user.first_name %> <%= @user.last_name %></p>
          <p> Beitr채ge: <%= @user.posts.size %> </p>
          <p> Angepinnte Beitr채ge: <%= @user.posts.where(pinned: true).size %></p>

          <hr>

          <h4>Statistiken 체ber Sharit</h4>
      <% if current_user.group == 0 || current_user.group == 1 %>
        <p>Kuratoren: 17</p>
      <% else %>
        <p>Kuratoren: 85</p>
      <% end %>

      <% if current_user.group == 0 || current_user.group == 2 %>
        <p>Leser (heute): 1065</p>
      <% else %>
        <p>Leser (heute): 213</p>
      <% end %>
    	</div>
    </div>